.cell-grid  {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.cell-marker {
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px; 
	border-left-width: 0px;
	/* marker width */
	min-width: .3em;
	/* marker background color */
	background-color: mix( @theme_text_color, @theme_base_color, .8);

}

/* computation running */
.locked-cell-marker {
	background-image: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px; 
	border-left-width: 0px;
	/* marker width */
	min-width: .3em;
	/* marker background color */
	background-color: @warning_color;

}

/* unlocked marker selected */
.cell-marker:checked {
	background-color: @theme_selected_bg_color;
}

/* locked marker selected */
.locked-cell-marker:checked {
	background-color: mix(@theme_selected_bg_color, @warning_color, 0.7);
}

/* background of depicted plots */
.plot-frame {
	background-color: transparent;
	background-image: none;

}

.transparent-widget {
	background-color: transparent;
	border-color: transparent;
	background-image: none;
}

.popmenu-button {
	background-color: transparent;
	background-image: none;
	border-color: transparent;
	border-width: 0px;
	box-shadow: none;
}

.popmenu-button:hover {
	background-color: @theme_selected_bg_color;
}

.popmenu-button:active {
	background-color: transparent;
}


/* buttons on plot for zooming */
.zoom-button {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px; 
	border-left-width: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0.3em;
	min-width: 1em;
	min-height: 1em;
	font-weight: bold;
}


/* better not touch that */
.container-grid {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* better not touch that */
.add-button {
	color: transparent;
	background-color: transparent;
	background-image: none;
	border-color: transparent;
	border-width: 0px;
	border-image: none;
	outline-color: transparent;
	outline-style: none;
	padding: 0px;
	margin: 0px;
	box-shadow: none;
	min-height: 0.7em;

}

.pref-heading {
	font-weight: bold;
}

