.cell-grid  {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.cell-marker {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px; 
	border-left-width: 0px;
	min-width: 8px;
}

.cell-marker:disabled {
	background-color: #2ca5e0;
}

.container-grid {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.add-button {
	background-color: transparent;
}

/* Subsubsection */
.title-1 {
	font-size: 1.2em;
	font-weight: bold;
}

/* Subsection */
.title-2 {
	font-size: 1.4em;
	font-weight: bold;
}

/* Section */
.title-3 {
	font-size: 1.6em;
	font-weight: bold;
}

/* Subchapter */
.title-4 {
	font-size: 1.8em;
	font-weight: bold;
}

/* Chapter */
.title-5 {
	font-size: 2em;
	font-weight: bold;
}

/* Titel */
.title-6 {
	font-size: 2.2em;
	font-weight: bold;
}